.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    .container{
        width: 1000px;
        display: flex;
        align-items: center;

        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1{
                font-size: 50px;

                i{
                    font-weight: 300;
                }
            }

            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                border-radius: 5px;
                height: 50px;
                .searchInput{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    

                    input{
                        border: none;
                        outline: none;
                        // align-items: center;
                        // justify-content: center;
                        text-align: center;
                    }
                }

                button{
                    width: 80px;
                    height: 50px;
                    border: none;
                    background-color: mediumblue;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 1px;
                
                    img{
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }
                }
            }

            .popular{
                display: flex;
                align-items: center;
                gap: 10px;
                span{}
                button{
                    color: #fff;
                    background-color: transparent;
                    border: 1px solid #fff;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
        .right{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; /* Centers items horizontally */
            text-align: center; /* Centers text within the container */
            color: white;

            img{
                height: 100%;
                object-fit: contain;
            }

        }
    }
}