.home {
  .features {
    background-color: #dde1f7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark{
        background-color: #000000;
        
        h1{
            color: white !important;
        }
        
        p{
            color: white !important;
             margin-bottom: 20px !important;
        }

        .title{
            color: white !important;
            font-weight: 300 !important;
            font-size: 14px !important;
        }

        img{
            width: 100% ;
        }

        button{
            background-color: #1d12b1;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            border: none;
            width: max-content;
        }
    }

    .container {
        width: 1400px;
        display: flex;
        align-items: center;
        gap: 200px; 

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:first-child{
            flex: 2;
        }

        &:last-child{
            flex: 3;
        }
        h1 {
            font-weight: 500;
            margin-bottom: 10px;

            .dot{
              color: #0000ff;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            color: black;
            line-height: 28px;
            letter-spacing: 1px;
        }
        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            font-size: 18px;
            color: grey;

            img{
                width: 24px;
                height: 24px;
            }
          video {
            width: 720px;
          }
        }
      }
    }
  }
}
